{#
/**
 * @file views-bootstrap-grid.html.twig
 * Default simple view template to display Bootstrap Grids.
 *
 *
 * - columns: Contains rows grouped by columns.
 * - rows: Contains a nested array of rows. Each row contains an array of
 *   columns.
 * - column_type: Contains a number (default Bootstrap grid system column type).
 *
 * @ingroup views_templates
 */
#}
{%
  set classes = [
    'views-view-grid'
  ]
%}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div  {{ attributes.addClass(classes) }}>
  <div class="row">
    {% for row in rows %}
      <div class="{{ options.col_xs }} {{ options.col_sm }} {{ options.col_md }} {{ options.col_lg }} {{ options.row_class }}">
        {{- row -}}
      </div>
    {% endfor %}
  </div>
</div>
